.class-card {
    border: 1px solid #000000;
    padding: 16;
    margin-bottom: 12px;
    cursor: pointer;
    border-radius: 6px;
}

.class-card h3 {
    cursor: default;
    color: #333;
    margin: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
}

.class-card p {
    color: #000000;
    margin-left: .5rem;
}